<%= form_for(@item) do |f| %>
	<h3>曲名</h3>
		<%= f.text_field :name %>
	<h3>アーティスト</h3>
		<%= f.text_field :artist_name %>
	<h3>画像</h3>
		<%= f.attachment_field :image %>
	<h3>値段</h3>
		<%= f.text_field :price %>
	<h3>Album Name</h3>
		<%= f.text_field :album_name %>
	<h3>Lamel Name</h3>
		<%= f.text_field :label_name %>
	<h3>ジャンル</h3>
		<%= f.select :genre_id, { 峯村おすすめ: "峯村おすすめ", ロック: "ロック"}, { prompt: "選択してください" }, { class:'form-control' } %>
	<%= f.submit "出品", class: "button" %>

<% end %>