<%= link_to ' logout', destroy_user_session_path, method: :delete,class: 'glyphicon glyphicon-log-out' %>
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <p>名前</p><br />
    <%= f.text_field :name_char, autofocus: true %>
  </div>

  <div class="field">
    <p>名前(カタカナ)</p><br />
    <%= f.text_field :name_kana, autofocus: "off" %>
  </div>

  <div class="field">
    <p>郵便番号</p><br />
    <%= f.text_field :post, autofocus: "off" %>
  </div>

  <div class="field">
    <p>住所</p><br />
    <%= f.text_field :address, autofocus: "off" %>
  </div>

  <div class="field">
    <p>電話番号</p><br />
    <%= f.text_field :tell, autofocus: "off" %>
  </div>

  <div class="field">
    <p>メールアドレス</p><br />
    <%= f.email_field :email, autofocus: "off", autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    パスワード <i>(変更のない場合は空白のまま)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    変更前のパスワード <i></i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
