商品追加







<%= form_for(@item, url: admins_items_path) do |f| %>
<%= f.text_field :name %>
<%= f.nested_fields_for :cds, wrapper_tag: :table do |q| %>

  <tbody>
    <tr>
      <td>CD名</td>
      <td><%= q.text_field :name %></td>
      <td><%= q.add_nested_fields_link :songs, '曲追加', role: 'button' %></td>
      <td><%= q.remove_nested_fields_link 'Delete', role: 'button' %></td>
    </tr>
    <tr>
      <td>曲名</td>
      <td>アーティスト名</td>
      <td>時間</td>
      <td></td>
    </tr>
    <%= q.nested_fields_for :songs, wrapper_tag: :tr do |r| %>
        <td><%= r.text_field :name %></td>
        <td><%= r.text_field :artist_name %></td>
        <td><%= r.text_field :time %></td>
        <td><%= r.remove_nested_fields_link 'Delete', role: 'button' %></td>
    <% end %>
  </tbody>
<% end %>
まだできない。→
<%= f.add_nested_fields_link :cds, 'CD追加', role: 'button' %>
<%= f.submit %>
<% end %>






<br>
<br>
<br>
<br>
<br>
<br>

<script type="text/javascript">

</script>