商品追加




<%= form_for(@item, url: admins_items_path) do |f| %>
<%= f.text_field :name %>
<%= f.attachment_field :image %>
<br>
<%= f.nested_fields_for :items_genres, wrapper_tag: :div do |q| %>
	<%= q.select :genre_id, Genre.all.map{|o| [o.name, o.id]} %>
	<%= q.remove_nested_fields_link 'ジャンル削除', role: 'button' %>
<% end %>
<%= f.add_nested_fields_link :items_genres, 'ジャンル追加', role: 'button' %>
<table>
	<tr>
      <td>値段</td>
      <td><%= f.text_field :price %></td>
    </tr>
	<tr>
      <td>在庫数</td>
      <td><%= f.text_field :count %></td>
    </tr>
	<tr>
      <td>アーティスト名</td>
      <td><%= f.text_field :artist_name %></td>
    </tr>
	<tr>
      <td>レーベル名</td>
      <td><%= f.text_field :label_name %></td>
    </tr>
</table>

<%= f.nested_fields_for :cds, wrapper_tag: :table do |q| %>

  <table>
    <tr>
      <td>ディスク名</td>
      <td><%= q.text_field :name %></td>
      <td><%= q.remove_nested_fields_link 'ディスク削除', role: 'button' %></td>
    </tr>
  </table>
<% end %>
<%= f.add_nested_fields_link :cds, 'CD追加', role: 'button' %>
<%= f.submit %>
<% end %>
