商品追加

<%= form_for(@item, url: admins_items_path) do |f| %>
item
  <%= f.text_field :name %>

  <%= f.fields_for :cds do |cd| %>
  cd
  	<%= cd.text_field :name %>

	<!-- 商品の中のCDの中の曲 -->
    <%= cd.fields_for :songs do |song| %>
    song
  	  <%= song.text_field :name %>
    <% end %>

  <% end %>

<!-- <table>
<tr>
<td class="repeater">
    <label>ディスク名</label><br>
    <input type="text" name="disc_name" />
    <input type="button" value="ディスクを削除" />
    <label>曲名</label><br>
        <input type="text" name="song_title" />
        <input type="time" name="song_time" required/>
        <input type="button" value="曲を削除" />
    <input type="button" value="曲を追加" />
    <input type="button" value="ディスクを追加" />
</td>
</tr>
</table> -->
  <%= f.submit %>
<% end %>

<% @items = Item.all %>
<% @items.each do |f| %>
<%= f.name %>

<% end %>