<div class="wrapper">
    <p><%= @history.created_at.strftime('%Y/%m/%d %H:%M') %></p>
    <p>発送ステータス</p>
    <%= form_for(@history, url: admins_history_path(@history), method: :patch) do |f| %>
        <%= f.select :status, [["1.準備中", 1], ["2.発送中", 2], ["3.発送済", 3]], prompt: "1.準備中", selected: @history.status %>
        <%= f.submit "変更を保存" %>
    <% end %>
    <br>

    <h1>お客様情報</h1>
    <table>
        <tr>
            <td>氏名</td>
            <td><%= link_to @history.user.name_char, admins_user_path(@history.user_id) %></td>
        </tr>
        <tr>
            <td>電話番号</td>
            <td><%= @history.user.tell %></td>
        </tr>
        <tr>
            <td>郵便番号</td>
            <td><%= @history.user_post %></td>
        </tr>
        <tr>
            <td>住所</td>
            <td><%= @history.user_address %></td>
        </tr>
    </table>
</div>
