<main>
    <div class="wrapper clearfix">
    <div class="box-div-40 show-image">
        <%= attachment_image_tag(@item, :image, fallback: "no_image.jpg") %>

    </div>
    <div class="box-div-60 show-info">
        <h3><%= @item.name %></h3>
        <table>
            <tr>
                <td>artist</td>
                <td><%= @item.artist_name %></td>
            </tr>
            <tr>
                <td>label</td>
                <td><%= @item.label_name %></td>
            </tr>
            <tr>
                <td>price</td>
                <td><%= @item.price %></td>
            </tr>
        </table>
        <%= form_for(@cart, url: users_carts_path) do |f| %>
            <%= hidden_field_tag :item_id, @item.id %>
            <%= select_tag 'count[count]', options_for_select(["1", "2", "3", "4", "5"]) %>
            <%= f.submit 'Add to Cart', :class=>"show-add-btn" %>
        <% end %>
    </div>
    </div>

    <% @item.cds.each do |f| %>
    <div class="wrapper clearfix">
        <div class="box-div-30">
            <div><%= f.name %></div>
        </div>

        <div class="box-div-70">
            <table class="show-table">
                <tr>
                    <td>song name</td>
                    <td>artist</td>
                </tr>
                <% f.songs.each do |g| %>
                    <tr>
                        <td><%= g.name %></td>
                        <td><%= g.artist_name %></td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
    <% end %>
</main>
