

<%= form_tag(items_search_path) do %>
  <%= select_tag :genre, options_for_select(Genre.all.map {|i| [i.name, i.id] }), :include_blank => true %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>
        <h2><a href="">新着</a></h2>
        <div class="items clearfix">
        <% @new_items.each do |f| %>
            <div class="items-item">
                <%= link_to item_path(f) do %>
                    <%= attachment_image_tag(f, :image, :fill, 100, 100, fallback: "no_image.jpg") %>
                    <%= f.name %><br><%= f.artist_name %><br><%= f.price %>en
                <% end %>
            </div>
        <% end %>
        </div>
    </main>
    <script>
        ityped.init('#top-text-el', {
            strings:['J-POP', 'Rock', 'Music', 'R&B', 'Classic', 'Dance', 'Electronic'],
            typeSpeed: 70,
            backSpeed: 110,
            startDelay: 200,
            backDelay: 500,
            showCursor: false,
            loop: true
        });
    </script>
