<div class="wrapper">
    <h3>ジャンル一覧</h3>

    <%= form_for(@genre, admins_genre_index_path do |f| %>
        <% if @genre.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@genre.errors.count, "error") %> prohibited this genre from being saved:</h2>
                <ul>
                    <% @genre.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <div class="field">
            <%= f.label :name %><br>
            <%= f.text_field :name %>
        </div>
        <div class="actions">
            <%= f.submit %>
        </div>
    <% end %>

    <table>
        <tr>
            <th>詳細</th>
            <th>名称変更</th>
            <th></th>
        </tr>
        <% @genres.each do |genre| %>
	        <tr>
	            <td><%= link_to genre.name, admins_genre_path(genre.id) %></td>
                <%= form_for genre do |f| %>
    	            <td><%= f.text_field :name %></td>
                    <td><%= f.submit '変更を保存' %></td>
                <% end %>
	        </tr>
		<% end %>

    </table>
</div>