<!DOCTYPE html>
<html>
  <head>
    <title>Young2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
        <a href="/" class="header-logo">LOGO</a>
        <div class="header-btn">
	        <% if current_user %>
    	        <a href="/users/carts" class="header-btn-item">カート</a>
              <%= link_to 'マイページ', users_path, class: 'header-btn-item header-link' %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'header-btn-item header-link' %>
            <% else %>
        	    <a href="/users/sign_in" class="header-btn-item">login</a>
            	<a href="/users/sign_up" class="header-btn-item">sign up</a>
            <% end %>
        </div>
    </header>
    <main>
      <%= yield %>
	  </main>
  </body>
</html>
